* {
    box-sizing: border-box;
    z-index: 0;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(45deg, #f1d5b8, rgba(255, 166, 0, 0.63) 25%, #ffd8de 50%, #e09fb9 75%, #f37dce 100%) repeat center center/cover;
    animation: colorchange 10s infinite;
}

@keyframes colorchange {
    0% {
        background: linear-gradient(45deg, #f1d5b8, rgba(220, 188, 130, 0.63) 25%, #ffd8de 50%, #e09fb9 75%, #f37dce 100%) repeat center center/cover;
        transition: 0.2s;
    }
    25% {
        background: linear-gradient(45deg, rgba(220, 188, 130, 0.63), #ffd8de 25%, #e09fb9 50%, #f37dce 75%, #f1d5b8 100%) repeat center center/cover;
        transition: 0.2s;
    }
    50% {
        background: linear-gradient(45deg, #ffd8de, #e09fb9 25%, #f37dce 50%, #f1d5b8 75%, rgba(220, 188, 130, 0.63) 100%) repeat center center/cover;
        transition: 0.2s;
    }
    75% {
        background: linear-gradient(45deg, #ffd8de, #f37dce 25%, #f1d5b8 50%, rgba(220, 188, 130, 0.63) 75%, #e09fb9 100%) repeat center center/cover;
        transition: 0.2s;
    }
    100% {
        background: linear-gradient(45deg, #f37dce, #f1d5b8 25%, rgba(220, 188, 130, 0.63) 50%, #e09fb9 75%, #ffd8de, 100%) repeat center center/cover;
        transition: 0.2s;
    }
}


/* navbar_css */

.navbar {
    border: 2px solid black;
    border-radius: 20em;
    /* border-top-left-radius: 0; */
    list-style: none;
    display: flex;
    background-color: rgba(128, 128, 128, 0.519);
    box-shadow: 0.3em 0.3em 0.6em black;
    transition: 0.5s;
}

.navbar:hover {
    box-shadow: 0.6em 0.6em 0.9em black;
    transform: scale(1.03);
}

nav div {
    display: flex;
    align-items: center;
}

nav div.profile {
    width: 40%;
}

nav div.profile img {
    height: 80px;
    width: 80px;
    filter: grayscale(30%);
    border-radius: 50%;
    position: relative;
    left: 0.2em;
    top: 0.1em;
    transition: .3s;
    cursor: pointer;
}

nav div.profile img:hover {
    transform: scale(1.2);
    left: 2em;
}

nav div.profile h4 {
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-transform: uppercase;
    position: relative;
    font-family: 'Gochi Hand', cursive;
    top: -0.1em;
    left: 1.2em;
    font-size: 1.8em;
    font-weight: 500;
    text-shadow: 0.12em .12em 0.1em white;
    transition: 0.2s;
    cursor: pointer;
}

nav div.profile h4:hover {
    transform: scale(1.4);
    left: 2em;
}

.info li a {
    font-family: 'Gochi Hand', cursive;
    font-size: 1.5em;
    color: white;
    text-shadow: .1em .1em 0.1em black;
    text-decoration: none;
    cursor: pointer;
}

.info li {
    transition: 0.2s;
}

.info li:hover {
    transform: scale(1.5);
    text-decoration: underline;
}

.info {
    width: 60%;
    font-family: 'Gochi Hand', cursive;
    /* font-family: 'Baloo Bhaina 2', cursive; */
    justify-content: space-evenly;
    margin: auto;
}


/* SECTION_CSS */

section h1 {
    text-align: center;
    font-size: 3.5em;
    font-family: 'Gochi Hand', cursive;
    line-height: 1em;
    margin-bottom: 0;
    text-decoration: underline;
    color: white;
    text-shadow: .1em .1em 0.1em black;
    /* color: rgb(51, 48, 48); */
    transition: 0.2s;
}

h1:hover {
    transform: scale(1.2);
}

section div.item {
    border: 2px solid black;
    /* border-top-left-radius: 20px; */
    border-radius: 20px;
    margin: 0.2em;
    padding: 1.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.44);
    box-shadow: 0.4em 0.6e/m 0.8em black;
    transition: 0.3s;
}

section div.item:hover {
    box-shadow: inset 0.3em 0.3em 1em black, inset -0.3em -0.3em 1em black;
    background: rgba(255, 255, 255, 0.54);
}

section div.item .imagebox {
    margin: 1.5em;
    border: 2px solid black;
    transition: 0.3s;
    cursor: pointer;
    background: linear-gradient(45deg, #f1d5b8, rgba(255, 166, 0, 0.63) 25%, #ffd8de 50%, #e09fb9 75%, #f37dce 100%) repeat center center/cover;
    ;
}

section div.item .imagebox:hover,
section div.item .imagebox:focus {
    /* opacity: 0.5; */
    transform: scale(1.2);
}


/* section div.item .imagebox:focus {

} */

section div.item .images {
    text-align: justify;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: 0.3em 0.3em 0.3em black;
    /* border-radius: ; */
}

section div.item img {
    display: block;
    height: 24em;
    width: 24em;
}

section div.item h3 {
    display: block;
    line-height: 1rem;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 1.6em;
    text-align: center;
}


/* full_screen_contents */


/* mainscreen */

div#full_screen {
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 5%;
}


/* close_button */

div#full_screen .close {
    color: rgba(255, 255, 255, 0.514);
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 400%;
    font-weight: bold;
    transition: 0.5s;
}

div#full_screen .close:hover,
div#full_screen .close:focus {
    color: #f1f1f1;
    cursor: pointer;
    transform: scale(2);
}


/* image_css */

div#full_screen .full_image {
    margin: auto;
    display: block;
    width: 80vw;
    max-width: 700px;
    /*max_width settlement such that it will not stretch out of view*/
    height: 80vh;
    transition: 0.2s;
}

div#full_screen .full_image:hover {
    transform: scale(1.05);
}


/* likesanddislikes */

div#full_screen .likesanddislikes {
    /* border: 2px solid; */
    color: white;
    padding-top: 1.5%;
    font-size: 50px;
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-evenly;
}

div#full_screen .likesanddislikes span:hover,
div#full_screen .likesanddislikes span:focus {
    color: rgba(98, 98, 230, 0.747);
    transform: scale(1.5);
    transition: 0.3s;
    transition-property: color;
}


/* discription */

div#full_screen .discription {
    color: rgb(255, 255, 255);
    padding: 1rem;
    /* justify-content: center; */
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.6rem;
    display: block;
}


/* footer_css */

footer {
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
}


/* socialmedia */

.social_media {
    /* display: flex; */
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5%;
    /* justify-content: space-between; */
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    flex-direction: column;
    flex-basis: 100px;
}

.social_media .plateform {
    display: block;
    align-self: center;
}

.social_media .plateform .link {
    transition: 0.5s;
}

.social_media .plateform .link a {
    font-size: 80px;
    text-decoration: none;
    color: white;
}

.social_media .plateform .link:hover {
    transform: scale(1.2);
}

.social_media span {
    color: white;
    position: absolute;
    color: rgba(255, 255, 255, 0.514);
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 400%;
    font-weight: bold;
    transition: 0.5s;
}

.social_media span:hover,
.social_media span:focus {
    color: #f1f1f1;
    cursor: pointer;
    transform: scale(2);
}

.social_media .plateform#instagram div.icon {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: .1em;
    font-size: 100px;
    transition: 0.2s;
}

.social_media .plateform#whatsapp div.icon {
    background: rgb(94, 216, 94);
    border-radius: .1em;
    font-size: 100px;
    transition: 0.2s;
}

.social_media .plateform#twitter div.icon {
    background: #00acee;
    border-radius: .1em;
    font-size: 100px;
    transition: 0.2s;
}

.social_media .plateform div.icon:hover {
    transform: scale(1.2);
}

.social_media .plateform div.icon a {
    color: white;
}

@media (min-width: 760px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) and (min-width: 424px) {
    html {
        font-size: 12px;
    }
    section div.item img {
        height: 25em;
        width: 25em;
    }
}

@media screen and (max-width: 426px) and (min-width:321px) {
    html {
        scroll-behavior: smooth;
        font-size: 6px;
    }
    body {
        background: linear-gradient(45deg, #f1d5b8, rgba(255, 166, 0, 0.63) 25%, #ffd8de 50%, #e09fb9 75%, #f37dce 100%) repeat center center/cover;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        border-radius: 0;
        border-top-left-radius: 0;
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
    }
    .navbar:hover {
        box-shadow: none;
        transform: scale(1);
    }
    nav div {
        display: flex;
        align-items: center;
        /* border: 2px solid; */
    }
    nav div.profile {
        width: 80%;
        flex-direction: column;
    }
    nav div.profile img {
        height: 60px;
        width: 60px;
        filter: grayscale(30%);
        border-radius: 50%;
        position: relative;
        left: 0;
        top: 0;
        transition: .3s;
        cursor: pointer;
    }
    nav div.profile img:hover {
        transform: scale(1.2);
        left: 0em;
    }
    nav div.profile h4 {
        display: inline;
        margin-block-start: 0.1em;
        margin-block-end: 0.1em;
        text-transform: uppercase;
        position: relative;
        font-family: 'Gochi Hand', cursive;
        top: 0em;
        left: 0em;
        font-size: 4em;
        font-weight: 500;
        line-height: 27px;
        text-shadow: 0.12em .12em 0.1em white;
        transition: 0.2s;
        cursor: pointer;
    }
    nav div.profile h4:hover {
        transform: scale(1.4);
        left: 0;
    }
    .navbar .info {
        width: 98%;
        border: 2px solid black;
        border-radius: 20em;
        list-style: none;
        display: flex;
        background-color: rgba(128, 128, 128, 0.519);
        box-shadow: 0.3em 0.3em 0.6em black;
        transition: 0.4s;
    }
    .navbar .info:hover {
        box-shadow: 0.6em 0.6em 0.9em black;
        transform: scale(1.03);
    }
    .info li a {
        font-family: 'Gochi Hand', cursive;
        font-size: 2.5em;
        line-height: 38px;
        color: white;
        text-shadow: .1em .1em 0.1em black;
        text-decoration: none;
        cursor: pointer;
    }
    .info li {
        transition: 0.2s;
    }
    .info li:hover {
        transform: scale(1.5);
        text-decoration: underline;
    }
    .info {
        width: 99%;
        font-family: 'Gochi Hand', cursive;
        /* font-family: 'Baloo Bhaina 2', cursive; */
        justify-content: space-evenly;
        margin: auto;
    }
    /* close_button */
    /* SECTION_CSS */
    section h1 {
        text-align: center;
        font-size: 6.5em;
        font-family: 'Gochi Hand', cursive;
        line-height: 1em;
        margin-bottom: 0;
        text-decoration: underline;
        color: white;
        text-shadow: .1em .1em 0.1em black;
        /* color: rgb(51, 48, 48); */
        transition: 0.2s;
    }
    h1:hover {
        transform: scale(1.32);
    }
    section div.item {
        border: 2px solid black;
        /* border-top-left-radius: 20px; */
        border-radius: 20px;
        margin: 0.2em;
        padding: 1.6em;
        display: flex;
        flex-direction: row;
        /* flex-direction: column; for size less_then 320*/
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.44);
        box-shadow: 0.4em 0.6e/m 0.8em black;
        transition: 0.3s;
    }
    section div.item:hover {
        box-shadow: inset 0.3em 0.3em 1em black, inset -0.3em -0.3em 1em black;
        background: rgba(255, 255, 255, 0.54);
    }
    section div.item .imagebox {
        margin: 1em;
        border: 2px solid black;
        transition: 0.3s;
        cursor: pointer;
        background: linear-gradient(45deg, #f1d5b8, rgba(255, 166, 0, 0.63) 25%, #ffd8de 50%, #e09fb9 75%, #f37dce 100%) repeat center center/cover;
    }
    section div.item .imagebox:hover {
        transform: scale(1.2);
    }
    section div.item .images {
        text-align: justify;
        border-top-left-radius: 2em;
        border-bottom-right-radius: 2em;
        box-shadow: 0.3em 0.3em 0.9em black;
    }
    section div.item img {
        display: block;
        height: 24em;
        width: 24em;
    }
    section div.item h3 {
        display: block;
        line-height: 1rem;
        font-family: 'Baloo Bhaina 2', cursive;
        font-size: 1.7em;
        text-align: center;
    }
    /* full_screen_contents */
    /* mainscreen */
    div#full_screen {
        display: none;
        position: fixed;
        overflow: auto;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding-top: 5%;
    }
    /* close_button */
    div#full_screen .close {
        color: rgba(255, 255, 255, 0.814);
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 700%;
        font-weight: bold;
        transition: 0.5s;
    }
    div#full_screen .close:hover,
    div#full_screen .close:focus {
        color: #f1f1f1;
        cursor: pointer;
        transform: scale(2);
    }
    /* image_css */
    div#full_screen .full_image {
        margin: auto;
        display: block;
        width: 80vw;
        max-width: 700px;
        /*max_width settlement such that it will not stretch out of view*/
        height: 66vh;
        transition: 0.2s;
    }
    div#full_screen .full_image:hover {
        transform: scale(1.0);
    }
    /* likesanddislikes */
    div#full_screen .likesanddislikes {
        color: white;
        padding-top: 1.5%;
        font-size: 50px;
        display: flex;
        width: 60%;
        margin: auto;
        justify-content: space-evenly;
    }
    div#full_screen .likesanddislikes span:hover,
    div#full_screen .likesanddislikes span:focus {
        color: rgba(98, 98, 230, 0.747);
        transform: scale(1.5);
        transition: 0.3s;
        transition-property: color;
    }
    /* discription */
    div#full_screen .discription {
        color: rgb(255, 255, 255);
        padding: 1rem;
        /* justify-content: center; */
        font-family: 'Gochi Hand', cursive;
        text-align: center;
        font-size: 4.5em;
        letter-spacing: 0.6rem;
        display: block;
    }
    /* footer_css */
    footer {
        font-size: 2.5em;
        font-weight: 500;
        font-family: 'Baloo Bhaina 2', cursive;
        text-align: center;
    }
    /* socialmedia */
    .social_media {
        /* display: flex; */
        display: none;
        position: fixed;
        overflow: auto;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 5%;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }
    .social_media .plateform .link {
        transition: 0.5s;
    }
    .social_media .plateform .link a {
        font-size: 60px;
        text-decoration: none;
        color: white;
    }
    .social_media span {
        color: white;
        position: absolute;
        margin: 2px;
        padding: 20px;
        color: rgba(255, 255, 255, 0.514);
        position: absolute;
        top: 1px;
        right: 5px;
        font-size: 800%;
        font-weight: bold;
        transition: 0.5s;
    }
    .social_media span:hover,
    .social_media span:focus {
        color: #f1f1f1;
        cursor: pointer;
        transform: scale(2);
    }
    .social_media .plateform div.icon {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        border-radius: .1em;
        font-size: 100px;
        transition: 0.2s;
    }
    .social_media .plateform div.icon:hover {
        transform: scale(1.2);
    }
    .social_media .plateform div.icon a {
        color: white;
    }
}

@media screen and (max-width: 321px) {
    html {
        scroll-behavior: smooth;
        font-size: 6px;
    }
    body {
        background: linear-gradient(45deg, #f1d5b8, rgba(255, 166, 0, 0.63) 25%, #ffd8de 50%, #e09fb9 75%, #f37dce 100%) repeat center center/cover;
    }
    /* .navbar div ################### */
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        border-radius: 0;
        border-top-left-radius: 0;
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
    }
    .navbar:hover {
        box-shadow: none;
        transform: scale(1);
    }
    nav div {
        display: flex;
        align-items: center;
        /* border: 2px solid; */
    }
    nav div.profile {
        width: 80%;
        flex-direction: column;
    }
    nav div.profile img {
        height: 60px;
        width: 60px;
        filter: grayscale(30%);
        border-radius: 50%;
        position: relative;
        left: 0;
        top: 0;
        transition: .3s;
        cursor: pointer;
    }
    nav div.profile img:hover {
        transform: scale(1.2);
        left: 0em;
    }
    nav div.profile h4 {
        display: inline;
        margin-block-start: 0.1em;
        margin-block-end: 0.1em;
        text-transform: uppercase;
        position: relative;
        font-family: 'Gochi Hand', cursive;
        top: 0em;
        left: 0em;
        font-size: 4em;
        font-weight: 500;
        line-height: 27px;
        text-shadow: 0.12em .12em 0.1em white;
        transition: 0.2s;
        cursor: pointer;
    }
    nav div.profile h4:hover {
        transform: scale(1.4);
        left: 0;
    }
    .navbar .info {
        width: 98%;
        border: 2px solid black;
        border-radius: 20em;
        list-style: none;
        display: flex;
        background-color: rgba(128, 128, 128, 0.519);
        box-shadow: 0.3em 0.3em 0.6em black;
        transition: 0.4s;
    }
    .navbar .info:hover {
        box-shadow: 0.6em 0.6em 0.9em black;
        transform: scale(1.03);
    }
    .info li a {
        font-family: 'Gochi Hand', cursive;
        font-size: 2.5em;
        line-height: 38px;
        color: white;
        text-shadow: .1em .1em 0.1em black;
        text-decoration: none;
        cursor: pointer;
    }
    .info li {
        transition: 0.2s;
    }
    .info li:hover {
        transform: scale(1.5);
        text-decoration: underline;
    }
    .info {
        width: 99%;
        font-family: 'Gochi Hand', cursive;
        justify-content: space-evenly;
        margin: auto;
    }
    /* SECTION_CSS */
    section h1 {
        text-align: center;
        font-size: 6.5em;
        font-family: 'Gochi Hand', cursive;
        line-height: 1em;
        margin-bottom: 0;
        text-decoration: underline;
        color: white;
        text-shadow: .1em .1em 0.1em black;
        /* color: rgb(51, 48, 48); */
        transition: 0.2s;
    }
    h1:hover {
        transform: scale(1.32);
    }
    section div.item {
        border: 2px solid black;
        /* border-top-left-radius: 20px; */
        border-radius: 20px;
        margin: 0.2em;
        padding: 1.6em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.44);
        box-shadow: 0.4em 0.6e/m 0.8em black;
        transition: 0.3s;
    }
    section div.item:hover {
        box-shadow: inset 0.3em 0.3em 1em black, inset -0.3em -0.3em 1em black;
        background: rgba(255, 255, 255, 0.54);
    }
    section div.item .imagebox {
        margin: 1em;
        border: 2px solid black;
        transition: 0.3s;
        cursor: pointer;
        background: linear-gradient(45deg, #f1d5b8, rgba(255, 166, 0, 0.63) 25%, #ffd8de 50%, #e09fb9 75%, #f37dce 100%) repeat center center/cover;
    }
    section div.item .imagebox:hover {
        transform: scale(1.2);
    }
    section div.item .images {
        text-align: justify;
        border-top-left-radius: 2em;
        border-bottom-right-radius: 2em;
        box-shadow: 0.3em 0.3em 0.9em black;
    }
    section div.item img {
        height: 40em;
        width: 43em;
    }
    section div.item h3 {
        display: block;
        line-height: 1rem;
        font-family: 'Baloo Bhaina 2', cursive;
        font-size: 2.9em;
        text-align: center;
    }
    /* full_screen_contents */
    /* mainscreen */
    div#full_screen {
        display: none;
        position: fixed;
        overflow: auto;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding-top: 5%;
    }
    /* close_button */
    div#full_screen .close {
        color: rgba(255, 255, 255, 0.814);
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 700%;
        font-weight: bold;
        transition: 0.5s;
    }
    div#full_screen .close:hover,
    div#full_screen .close:focus {
        color: #f1f1f1;
        cursor: pointer;
        transform: scale(2);
    }
    /* image_css */
    div#full_screen .full_image {
        margin: auto;
        display: block;
        width: 80vw;
        max-width: 700px;
        position: relative;
        top: 30px;
        /*max_width settlement such that it will not stretch out of view*/
        height: 60vh;
        transition: 0.2s;
    }
    div#full_screen .full_image:hover {
        transform: scale(1.0);
    }
    /* likesanddislikes */
    div#full_screen .likesanddislikes {
        color: white;
        padding-top: 1.5%;
        font-size: 50px;
        display: flex;
        position: relative;
        top: 30px;
        width: 60%;
        margin: auto;
        justify-content: space-evenly;
    }
    div#full_screen .likesanddislikes span:hover,
    div#full_screen .likesanddislikes span:focus {
        color: rgba(98, 98, 230, 0.747);
        transform: scale(1.5);
        transition: 0.3s;
        transition-property: color;
    }
    /* discription */
    div#full_screen .discription {
        color: rgb(255, 255, 255);
        padding: 1rem;
        /* justify-content: center; */
        font-family: 'Gochi Hand', cursive;
        text-align: center;
        font-size: 4.5em;
        position: relative;
        top: 30px;
        letter-spacing: 0.6rem;
        display: block;
    }
    /* footer_css */
    footer {
        font-size: 2em;
        font-weight: 600;
        font-family: 'Baloo Bhaina 2', cursive;
        text-align: center;
    }
    /* socialmedia */
    .social_media {
        display: none;
        position: fixed;
        overflow: auto;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 5%;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }
    .social_media .plateform .link {
        transition: 0.5s;
    }
    .social_media .plateform .link a {
        font-size: 60px;
        text-decoration: none;
        color: white;
    }
    .social_media .plateform {
        position: relative;
        top: 3em;
    }
    .social_media span {
        color: white;
        margin: 2px;
        padding: 20px;
        color: rgba(255, 255, 255, 0.514);
        position: absolute;
        top: -20px;
        right: -5px;
        font-size: 800%;
        font-weight: bold;
        transition: 0.5s;
    }
    /* .social_media .plateform#instagram div.icon {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        border-radius: .1em;
        font-size: 100px;
        transition: 0.2s;
    } */
    .social_media .plateform div.icon a {
        color: white;
    }
}